.cover-frame-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  width: 120rem;
  height: 60rem;
}
.cover-frame-item {
  position: absolute;
  top: 0;
  left: 18.62rem;
  width: 81.38rem;
  height: 60rem;
  object-fit: cover;
}
.cover-frame-inner {
  position: absolute;
  height: 7.2%;
  width: 22.92%;
  top: 44.34%;
  right: 3.36%;
  bottom: 48.46%;
  left: 73.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.made-by-team {
  position: absolute;
  top: 54.7rem;
  left: 73.33rem;
  color: #99d2f5;
}
.travel-website {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.travel-website-wrapper {
  position: absolute;
  top: 51.71rem;
  left: 73.33rem;
  width: 14rem;
  height: 2.5rem;
  font-size: 2.13rem;
}
.fickleflight-logo-icon {
  position: relative;
  width: 8.13rem;
  height: 1.54rem;
  overflow: hidden;
  flex-shrink: 0;
}
.explore,
.hotels,
.offers,
.search {
  position: relative;
  display: inline-block;
  height: 0.75rem;
  flex-shrink: 0;
}
.explore {
  color: var(--color-cornflowerblue-100);
  width: 2.2rem;
}
.hotels,
.offers,
.search {
  width: 2.01rem;
}
.hotels,
.offers {
  width: 1.92rem;
}
.offers {
  width: 1.82rem;
}
.navigation-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1.4rem;
}
.hamburger-menu-icon {
  display: none;
}
.hamburger-menu-icon,
.notification-bell-icon {
  position: relative;
  width: 1.12rem;
  height: 1.12rem;
  overflow: hidden;
  flex-shrink: 0;
}
.unsplashd1upkifd04a-icon {
  border-radius: 28.41px;
  width: 1.68rem;
  height: 1.68rem;
  object-fit: cover;
}
.account-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.56rem;
}
.navigation-right {
  justify-content: flex-end;
  gap: 1.68rem;
}
.navigation-right,
.top-container,
.top-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top-container {
  flex: 1;
  justify-content: space-between;
}
.top-header {
  align-self: stretch;
  background-color: var(--primary-contrast);
  height: 3.6rem;
  padding: 1.03rem 3.74rem;
  box-sizing: border-box;
  justify-content: center;
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
  text-align: left;
  font-size: 0.65rem;
  color: var(--color-darkslategray-100);
  font-family: var(--font-roboto);
}
.banner-background,
.banner-gradient {
  position: absolute;
  width: calc(100% + 0.46px);
  right: -0.03rem;
  left: 0;
  height: 29.9rem;
}
.banner-gradient {
  top: 0;
  background: linear-gradient(78.78deg, #114f8b 5.2%, #2a9ad7);
}
.banner-background {
  top: 0.02rem;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.find-the-best,
.lets-explore {
  align-self: stretch;
  position: relative;
  line-height: 3.13rem;
}
.find-the-best {
  font-size: 1.12rem;
  line-height: 1.5rem;
  font-family: var(--font-roboto);
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.23rem;
}
.departure-field,
.title {
  align-self: stretch;
}
.input-group {
  flex: 1;
  flex-direction: column;
  padding: 0.23rem;
  justify-content: center;
}
.arrival,
.input-group,
.label-container {
  display: flex;
  align-items: center;
}
.arrival {
  position: relative;
  letter-spacing: 0.11px;
  line-height: 0.56rem;
  width: 1.64rem;
  height: 0.56rem;
  flex-shrink: 0;
}
.label-container {
  background-color: var(--primary-contrast);
  height: 0.09rem;
  flex-direction: row;
  padding: 0 0.19rem;
  box-sizing: border-box;
  justify-content: flex-start;
}
.avatar,
.op {
  align-items: center;
  justify-content: center;
}
.op {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: 0.3px;
  line-height: 166%;
  display: flex;
}
.avatar {
  border-radius: 47.84px;
  background-color: var(--color-silver);
  width: 1.12rem;
  height: 1.12rem;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
}
.chip1 {
  position: relative;
  letter-spacing: 0.12px;
  line-height: 0.84rem;
}
.container,
.typography {
  display: flex;
  justify-content: flex-start;
}
.typography {
  flex-direction: column;
  padding: 0.14rem 0.28rem;
  align-items: flex-start;
  text-align: left;
  font-size: 0.61rem;
  color: var(--color-gray-200);
}
.container {
  border-radius: 11.96px;
  background-color: var(--color-gainsboro-100);
  flex-direction: row;
  padding: 0.19rem;
  align-items: center;
}
.chip,
.muiautocompletetag {
  align-items: flex-start;
  justify-content: flex-start;
}
.chip {
  display: flex;
  flex-direction: column;
}
.muiautocompletetag {
  display: none;
  flex-direction: row;
  gap: 0.37rem;
}
.los-angeles-la {
  flex: 1;
  position: relative;
  font-size: 0.75rem;
  letter-spacing: 0.11px;
  line-height: 1.12rem;
  color: var(--color-gray-200);
  text-align: left;
}
.active,
.input {
  align-self: stretch;
}
.active {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0.7rem 0;
  align-items: center;
  justify-content: flex-start;
  gap: 0.37rem;
  text-align: center;
  color: var(--color-dimgray);
}
.input {
  border-radius: 2.99px;
  border: 0.7px solid rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  height: 2.62rem;
  flex-direction: column;
  padding: 0 0.56rem;
}
.arrival-field,
.input,
.inputs-row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.arrival-field {
  align-self: stretch;
  height: 2.62rem;
  flex-direction: column;
}
.inputs-row {
  flex: 1;
  flex-direction: row;
}
.button {
  position: relative;
  letter-spacing: 0.34px;
  line-height: 1.22rem;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 6.87rem;
}
.button-group,
.search-flights-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-flights-button {
  border-radius: 2.99px;
  width: 7.66rem;
  height: 2.62rem;
  overflow: hidden;
  flex-shrink: 0;
  transition: 0.3s;
}
.search-flights-button,
.search-flights-button:hover {
  background-color: var(--color-orange);
}
.button-group {
  padding: 0.23rem;
  text-align: center;
  font-size: 0.7rem;
  color: var(--primary-contrast);
}
.search-form {
  align-self: stretch;
  border-radius: 7.48px;
  background-color: var(--primary-contrast);
  display: flex;
  flex-direction: row;
  padding: 0.93rem;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 0.56rem;
  color: rgba(0, 0, 0, 0.6);
  font-family: var(--font-roboto);
}
.search-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 29.9rem;
  display: flex;
  flex-direction: column;
  padding: 0 6.54rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 2.01rem;
}
.search-section {
  align-self: stretch;
  position: relative;
  height: 29.9rem;
}
.hero-section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 2.85rem;
  font-family: var(--font-baloo-bhai);
}
.upcoming-flight {
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  display: inline-block;
  width: 59.25rem;
}
.sin,
.singapore {
  position: absolute;
  left: 0;
  text-transform: capitalize;
  display: inline-block;
}
.sin {
  top: 0;
  letter-spacing: 0.04em;
  width: 2.09rem;
  height: 1.31rem;
}
.singapore {
  top: 1.4rem;
  font-size: 0.65rem;
  letter-spacing: 0.02em;
  color: var(--color-gray-100);
  width: 3.36rem;
  height: 0.75rem;
}
.from-details {
  position: relative;
  width: 3.36rem;
  height: 2.15rem;
}
.h-55m {
  position: absolute;
  top: 1.31rem;
  left: 1.11rem;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  display: inline-block;
  width: 3.07rem;
  height: 0.75rem;
}
.duration-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 5.48rem;
  height: 1.12rem;
}
.duration {
  position: relative;
  width: 5.48rem;
  height: 2.06rem;
  font-size: 0.65rem;
  color: var(--color-gray-100);
}
.lax,
.los-angeles {
  position: absolute;
  text-transform: capitalize;
  display: inline-block;
}
.lax {
  top: 0;
  left: 1.68rem;
  letter-spacing: 0.04em;
  width: 2.4rem;
  height: 1.31rem;
}
.los-angeles {
  top: 1.4rem;
  left: 0;
  font-size: 0.65rem;
  letter-spacing: 0.02em;
  color: var(--color-gray-100);
  width: 4.08rem;
  height: 0.75rem;
}
.to-details {
  position: relative;
  width: 4.08rem;
  height: 2.15rem;
  text-align: right;
}
.to-and-from {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.horizontal-line {
  align-self: stretch;
  position: relative;
  border-top: 0.7px solid var(--color-whitesmoke);
  box-sizing: border-box;
  height: 0.05rem;
}
.days-to-go-container,
.departs-on-1 {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  flex-shrink: 0;
}
.departs-on-1 {
  text-transform: capitalize;
  width: 9.53rem;
}
.days-to-go-container {
  text-align: right;
  width: 4.08rem;
}
.departure-details {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.65rem;
  color: var(--color-gray-100);
}
.flight-main-container {
  border-radius: 5.98px;
  border: 0.7px solid var(--color-whitesmoke);
  display: flex;
  flex-direction: column;
  padding: 0.93rem;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.98rem;
}
.line-separator {
  position: relative;
  border-right: 0.7px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 0.05rem;
  height: 6.82rem;
}
.prepare-for-your {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.hotel-child,
.hotel1 {
  position: relative;
  width: 3.06rem;
  height: 3.06rem;
}
.hotel1 {
  font-size: 0.7rem;
  letter-spacing: 0.04em;
  font-family: var(--font-roboto);
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  width: 1.82rem;
  height: 0.84rem;
  flex-shrink: 0;
}
.hotel {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.37rem;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 11.96px;
  background-color: #ff9b53;
  width: 3.06rem;
  height: 3.06rem;
}
.group-icon {
  position: absolute;
  height: 47.93%;
  width: 48.38%;
  top: 26.04%;
  right: 25.81%;
  bottom: 26.03%;
  left: 25.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.attractions1,
.eats1 {
  position: relative;
  font-size: 0.7rem;
  letter-spacing: 0.04em;
  font-family: var(--font-roboto);
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  width: 3.74rem;
  height: 0.84rem;
  flex-shrink: 0;
}
.eats1 {
  width: 1.5rem;
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 11.96px;
  background-color: #fdbf00;
  width: 3.06rem;
  height: 3.06rem;
}
.vector-icon {
  position: absolute;
  height: 48.43%;
  width: 41.17%;
  top: 26.51%;
  right: 29.42%;
  bottom: 25.06%;
  left: 29.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.commute1 {
  position: relative;
  font-size: 0.7rem;
  letter-spacing: 0.04em;
  font-family: var(--font-roboto);
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  width: 3.27rem;
  height: 0.84rem;
  flex-shrink: 0;
}
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 11.96px;
  background-color: #4dabff;
  width: 3.27rem;
  height: 3.06rem;
}
.vector-icon1 {
  position: absolute;
  height: 40.15%;
  width: 40.52%;
  top: 29.63%;
  right: 29.74%;
  bottom: 30.22%;
  left: 29.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-container {
  position: relative;
  width: 3.27rem;
  height: 3.06rem;
}
.taxi1 {
  position: relative;
  font-size: 0.7rem;
  letter-spacing: 0.04em;
  font-family: var(--font-roboto);
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  width: 1.5rem;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 11.96px;
  background-color: #79ca00;
  width: 3.06rem;
  height: 3.06rem;
}
.vector-icon2 {
  position: absolute;
  height: 35.6%;
  width: 39.93%;
  top: 32.2%;
  right: 30.04%;
  bottom: 32.2%;
  left: 30.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.movies1 {
  position: relative;
  font-size: 0.7rem;
  letter-spacing: 0.04em;
  font-family: var(--font-roboto);
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  width: 2.43rem;
  height: 0.84rem;
  flex-shrink: 0;
}
.trip-menus {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.flight-details,
.prepare-menu,
.upcoming-flight-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.prepare-menu {
  flex: 1;
  flex-direction: column;
  gap: 0.93rem;
  font-size: 0.84rem;
  color: #cecece;
}
.flight-details,
.upcoming-flight-section {
  align-self: stretch;
}
.flight-details {
  flex-direction: row;
  gap: 1.68rem;
  font-size: 1.12rem;
  color: var(--color-cornflowerblue-200);
}
.upcoming-flight-section {
  flex-direction: column;
  gap: 0.93rem;
}
.most-popular-destinations {
  align-self: stretch;
  position: relative;
  font-size: 1.4rem;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--color-darkslategray-200);
}
.title-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.28rem;
}
.view-all-destinations {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
  width: 9.22rem;
  flex-shrink: 0;
}
.destinations-titles,
.view-all-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.view-all-top {
  text-decoration: none;
  border-radius: 23.17px;
  background-color: var(--primary-contrast);
  width: 10.81rem;
  align-items: flex-start;
  gap: 0.47rem;
  text-align: right;
  color: inherit;
}
.destinations-titles {
  align-self: stretch;
  align-items: center;
}
.unsplashnnzkznywhau-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div,
.from,
.paris {
  color: var(--primary-contrast);
}
.paris {
  flex: 1;
  position: relative;
  font-size: 0.93rem;
  letter-spacing: 0.02em;
  font-family: var(--font-roboto);
  text-align: left;
}
.div,
.from {
  position: absolute;
  text-align: right;
  display: inline-block;
}
.div {
  top: 0.98rem;
  left: 0;
  font-size: 1.78rem;
  line-height: 1.78rem;
  font-family: var(--font-baloo-bhai);
  width: 4.25rem;
  height: 1.78rem;
}
.from {
  top: 0;
  left: 1.79rem;
  font-size: 0.75rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: var(--font-roboto);
  width: 2.45rem;
  height: 0.89rem;
}
.parent {
  position: relative;
  width: 4.25rem;
  height: 2.76rem;
}
.destination-details {
  position: absolute;
  width: calc(100% - 0.44px);
  top: 0;
  right: 0.01rem;
  left: 0.01rem;
  display: flex;
  flex-direction: row;
  padding: 0.37rem 0.56rem;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.unsplashnnzkznywhau-parent {
  align-self: stretch;
  position: relative;
  border-radius: 7.48px;
  height: 8.5rem;
  overflow: hidden;
  flex-shrink: 0;
}
.card-1 {
  cursor: pointer;
  border: 0;
  padding: 0 0.75rem;
  background-color: transparent;
  width: 25%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.div1,
.from1 {
  position: absolute;
  color: var(--primary-contrast);
  text-align: right;
  display: inline-block;
}
.div1 {
  top: 0.98rem;
  left: 0;
  font-size: 1.78rem;
  line-height: 1.78rem;
  font-family: var(--font-baloo-bhai);
  width: 4.63rem;
  height: 1.78rem;
}
.from1 {
  top: 0;
  left: 2.21rem;
  font-size: 0.75rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: var(--font-roboto);
  width: 2.45rem;
  height: 0.89rem;
}
.group {
  position: relative;
  width: 4.67rem;
  height: 2.76rem;
}
.div3,
.from3 {
  position: absolute;
  color: var(--primary-contrast);
  text-align: right;
  display: inline-block;
}
.div3 {
  top: 0.98rem;
  left: 0;
  font-size: 1.78rem;
  line-height: 1.78rem;
  font-family: var(--font-baloo-bhai);
  width: 4.7rem;
  height: 1.78rem;
}
.from3 {
  top: 0;
  left: 2.25rem;
  font-size: 0.75rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: var(--font-roboto);
  width: 2.45rem;
  height: 0.89rem;
}
.parent2 {
  position: relative;
  width: 4.7rem;
  height: 2.76rem;
}
.cards-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -1rem;
  margin-right: -1rem;
}
.view-all-destinations1 {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
  width: 9.22rem;
  flex-shrink: 0;
}
.pop-destinations-main,
.view-all-bottom {
  align-items: flex-start;
  justify-content: flex-start;
}
.view-all-bottom {
  border-radius: 23.17px;
  background-color: var(--primary-contrast);
  width: 10.81rem;
  display: none;
  flex-direction: row;
  gap: 0.47rem;
  text-align: right;
}
.pop-destinations-main {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 1.12rem;
  color: var(--color-cornflowerblue-200);
}
.recommended-holidays {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}
.view-all-holidays {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
  width: 7.75rem;
  flex-shrink: 0;
}
.rec-title,
.view-all-holidays-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.view-all-holidays-parent {
  text-decoration: none;
  border-radius: 23.17px;
  background-color: var(--primary-contrast);
  width: 9.34rem;
  align-items: flex-start;
  gap: 0.47rem;
  text-align: right;
  font-size: 0.84rem;
  color: var(--color-cornflowerblue-200);
}
.rec-title {
  align-self: stretch;
  align-items: center;
}
.unsplash5mv818tzxeo-icon {
  align-self: stretch;
  position: relative;
  border-radius: 7.48px 7.48px 0 0;
  max-width: 100%;
  overflow: hidden;
  height: 11.31rem;
  flex-shrink: 0;
  object-fit: cover;
}
.bali,
.d3n {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  font-family: var(--font-roboto);
  text-align: left;
}
.bali {
  font-size: 0.93rem;
  font-weight: 500;
  color: var(--color-darkslategray-100);
}
.d3n {
  font-size: 0.75rem;
  color: var(--color-darkgray);
}
.bali-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.14rem;
}
.div4 {
  position: relative;
  font-size: 1.5rem;
  line-height: 1.59rem;
  font-family: var(--font-baloo-bhai);
  color: var(--color-cornflowerblue-100);
  text-align: right;
  display: inline-block;
  width: 3.36rem;
  height: 1.59rem;
  flex-shrink: 0;
}
.holiday-details,
.rec-card-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.holiday-details {
  align-self: stretch;
  border-radius: 0 0 7.48px 7.48px;
  background-color: var(--primary-contrast);
  border: 0.7px solid var(--color-whitesmoke);
  padding: 0.93rem 0.75rem;
  justify-content: center;
}
.rec-card-1 {
  cursor: pointer;
  border: 0;
  padding: 0 0.75rem;
  background-color: transparent;
  flex: 1;
  box-sizing: border-box;
  justify-content: flex-start;
  width: 25%;
}
.div5 {
  position: relative;
  font-size: 1.5rem;
  line-height: 1.59rem;
  font-family: var(--font-baloo-bhai);
  color: var(--color-cornflowerblue-100);
  text-align: right;
  display: inline-block;
  width: 3.5rem;
  height: 1.59rem;
  flex-shrink: 0;
}
.rec-card-3 {
  cursor: pointer;
  border: 0;
  padding: 0 0.75rem;
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  width: 25%;
}
.div7 {
  position: relative;
  font-size: 1.5rem;
  line-height: 1.59rem;
  font-family: var(--font-baloo-bhai);
  color: var(--color-cornflowerblue-100);
  text-align: right;
  display: inline-block;
  width: 3.27rem;
  height: 1.59rem;
  flex-shrink: 0;
}
.rec-card-4,
.rec-cards-container {
  display: flex;
  justify-content: flex-start;
}
.rec-card-4 {
  cursor: pointer;
  border: 0;
  padding: 0 0.75rem;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  width: 25%;
}
.rec-cards-container {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  margin-left: -1rem;
  margin-right: -1rem;
}
.view-all-holidays1 {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
  width: 7.75rem;
  flex-shrink: 0;
}
.view-all-bottom1 {
  border-radius: 23.17px;
  background-color: var(--primary-contrast);
  width: 9.34rem;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.47rem;
  text-align: right;
  font-size: 0.84rem;
  color: var(--color-cornflowerblue-200);
}
.recommended-holidays-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.12rem;
  font-size: 1.4rem;
}
.popular-stays1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.4rem;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-darkslategray-200);
  text-align: left;
  width: 51.64rem;
  height: 1.64rem;
}
.popular-stays-title {
  flex: 1;
  position: relative;
  height: 1.64rem;
}
.view-all-stays {
  position: relative;
  font-size: 0.84rem;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-cornflowerblue-200);
  text-align: right;
  display: inline-block;
  width: 6.57rem;
  flex-shrink: 0;
}
.view-all-stays-parent {
  text-decoration: none;
  border-radius: 23.17px;
  background-color: var(--primary-contrast);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.47rem;
}
.popular-stays-header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.unsplashhhrfsdwxxus-icon {
  align-self: stretch;
  position: relative;
  border-radius: 7.48px;
  max-width: 100%;
  overflow: hidden;
  height: 9.34rem;
  flex-shrink: 0;
  object-fit: cover;
}
.entire-bungalow,
.matterhorn-suites,
.night {
  align-self: stretch;
  position: relative;
  font-family: var(--font-roboto);
  text-align: left;
}
.entire-bungalow {
  font-size: 0.75rem;
  letter-spacing: 0.02em;
  color: var(--color-gray-100);
}
.matterhorn-suites,
.night {
  letter-spacing: 0.04em;
  color: var(--color-darkslategray-200);
}
.matterhorn-suites {
  font-size: 1.03rem;
  text-transform: capitalize;
}
.night {
  font-size: 0.84rem;
}
.entire-bungalow-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.28rem;
}
.video-icon {
  position: relative;
  width: 1.17rem;
  height: 1.17rem;
  overflow: hidden;
  flex-shrink: 0;
}
.stay-details {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.51rem;
}
.div8,
.reviews {
  position: absolute;
  top: 0;
  left: 2.51rem;
  font-size: 0.75rem;
  letter-spacing: 0.04em;
  font-family: var(--font-roboto);
  color: var(--color-cornflowerblue-100);
  text-align: left;
  display: inline-block;
  width: 10.11rem;
  height: 0.89rem;
}
.div8 {
  left: 0.95rem;
  font-weight: 500;
  color: var(--color-darkslategray-200);
  width: 1.12rem;
}
.parent3,
.vector-icon3 {
  position: absolute;
  top: 0;
  left: 0;
}
.vector-icon3 {
  height: 90.47%;
  width: 37.54%;
  right: 62.46%;
  bottom: 9.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent3 {
  width: 2.07rem;
  height: 0.89rem;
}
.rating {
  align-self: stretch;
  position: relative;
  height: 0.89rem;
}
.button1 {
  position: relative;
  font-size: 0.7rem;
  letter-spacing: 0.34px;
  line-height: 1.22rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-cornflowerblue-100);
  text-align: left;
  display: inline-block;
  width: 5.09rem;
  height: 1.22rem;
  flex-shrink: 0;
}
.more-details-button {
  cursor: pointer;
  border: 0.7px solid var(--color-lavender);
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  border-radius: 2.99px;
  box-sizing: border-box;
  height: 2.15rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hotel-card,
.hotel-card-1,
.stay-details1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.hotel-card {
  text-decoration: none;
  border-radius: 7.48px;
  background-color: var(--primary-contrast);
  border: 0.7px solid var(--color-whitesmoke);
  box-sizing: border-box;
  flex-direction: column;
  padding: 0.7rem 0.61rem;
  justify-content: flex-start;
  gap: 1.07rem;
  width: 25%;
}
.hotel-card2:hover,
.hotel-card3:hover,
.hotel-card:hover {
  background-color: var(--color-gainsboro-200);
}
.hotel-card-1,
.stay-details1 {
  flex-direction: row;
}
.hotel-card-1 {
  padding: 0 0.56rem;
  box-sizing: border-box;
  justify-content: center;
  width: 25%;
}
.stay-details1 {
  justify-content: flex-start;
}
.arctic-hut,
.reviews2 {
  letter-spacing: 0.04em;
  font-family: var(--font-roboto);
  text-align: left;
}
.arctic-hut {
  align-self: stretch;
  position: relative;
  font-size: 1.03rem;
  text-transform: capitalize;
  color: var(--color-darkslategray-200);
}
.reviews2 {
  position: absolute;
  top: 0;
  left: 2.51rem;
  font-size: 0.75rem;
  color: var(--color-cornflowerblue-100);
  display: inline-block;
  width: 10.1rem;
  height: 0.89rem;
}
.vector-icon5 {
  position: absolute;
  height: 90.47%;
  width: 37.58%;
  top: 0;
  right: 62.42%;
  bottom: 9.53%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hotel-card2,
.hotel-card3 {
  text-decoration: none;
  align-self: stretch;
  flex: 1;
  border-radius: 7.48px;
  background-color: var(--primary-contrast);
  border: 0.7px solid var(--color-whitesmoke);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0.7rem 0.61rem;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.07rem;
  width: 25%;
}
.hotel-card-4,
.hotel-cards {
  align-self: stretch;
  display: flex;
  flex-direction: row;
}
.hotel-card-4 {
  flex: 1;
  padding: 0 0.56rem;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  width: 25%;
}
.hotel-cards {
  align-items: center;
  justify-content: flex-start;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.view-all-stays1 {
  position: relative;
  font-size: 0.84rem;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-cornflowerblue-200);
  text-align: right;
  display: inline-block;
  width: 6.57rem;
  flex-shrink: 0;
}
.view-all-stays-group {
  border-radius: 23.17px;
  background-color: var(--primary-contrast);
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.47rem;
}
.home-contents,
.popular-stays {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.popular-stays {
  align-self: stretch;
  align-items: flex-start;
  gap: 0.93rem;
}
.home-contents {
  width: 100%;
  padding: 0 3.74rem;
  box-sizing: border-box;
  align-items: center;
  gap: 3.74rem;
  max-width: 80rem;
  text-align: left;
  color: var(--color-darkslategray-200);
}
.frame-child {
  position: absolute;
  width: calc(100% + 0.46px);
  top: 0;
  right: -0.03rem;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 24.76rem;
  object-fit: cover;
}
.form-title {
  align-self: stretch;
  position: relative;
  font-size: 1.4rem;
  color: #434343;
}
.form-header {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.33rem;
}
.fill-in-your {
  align-self: stretch;
  position: relative;
  line-height: 1.59rem;
}
.form-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input1 {
  border: 0;
  background-color: transparent;
  align-self: stretch;
}
.form-fields {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.47rem;
}
.button6 {
  position: relative;
  font-size: 0.7rem;
  letter-spacing: 0.34px;
  line-height: 1.22rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--primary-contrast);
  text-align: left;
}
.button5,
.unstyledbutton {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.unstyledbutton {
  padding: 0.37rem 1.03rem;
  align-items: flex-start;
  justify-content: flex-start;
}
.button5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-orange);
  border-radius: 2.99px;
  width: 7.66rem;
  height: 2.62rem;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
.button5:hover {
  background-color: #99600a;
}
.form,
.share-your-travels-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.form {
  align-self: stretch;
  border-radius: 8.97px;
  background-color: var(--primary-contrast);
  box-shadow: 0 0 17.94px rgba(0, 0, 0, 0.03);
  border: 0.7px solid var(--color-whitesmoke);
  padding: 1.31rem 1.4rem;
  align-items: flex-start;
  gap: 0.79rem;
  text-align: left;
  color: #576074;
}
.share-your-travels-form {
  position: relative !important;
  top: 2.43rem;
  left: auto !important;
  width: 25.65rem;
  padding: 0.93rem;
  box-sizing: border-box;
  align-items: center;
  gap: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}
.rectangle-parent1 {
  align-self: stretch;
  position: relative;
  background-color: #f3f7fb;
  height: 24.72rem;
  overflow: hidden;
  flex-shrink: 0;
}
.fickle-flight-is {
  align-self: stretch;
  position: relative;
  line-height: 1.26rem;
}
.social-icons {
  position: relative;
  width: 6.07rem;
  height: 1.4rem;
}
.fickleflight-bio {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.65rem;
  margin-bottom: 40px !important;
}
.footer-child {
  position: relative;
  border-right: 0.7px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  width: 0.05rem;
  height: 7.38rem;
}
.about-us {
  text-decoration: none;
  top: 2.23rem;
  color: inherit;
  width: 6.34rem;
  height: 0.89rem;
}
.about-us,
.careers,
.company1,
.how-we-work,
.news {
  position: absolute;
  left: 0;
  display: inline-block;
}
.company1 {
  top: 0;
  font-size: 0.93rem;
  line-height: 1.26rem;
  font-weight: 500;
  width: 8.16rem;
  height: 1.26rem;
}
.careers,
.how-we-work,
.news {
  top: 3.68rem;
  width: 3.94rem;
  height: 0.89rem;
}
.careers,
.how-we-work {
  top: 5.13rem;
  width: 5.38rem;
}
.how-we-work {
  top: 6.58rem;
  width: 9.22rem;
}
.company {
  position: relative;
  width: 9.22rem;
  height: 7.46rem;
}
.account,
.support1 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.account {
  top: 2.23rem;
  width: 5.12rem;
  height: 0.89rem;
}
.support1 {
  top: 0;
  font-size: 0.93rem;
  line-height: 1.26rem;
  font-weight: 500;
  width: 6.15rem;
  height: 1.26rem;
}
.accessibility,
.faq,
.support-center {
  position: absolute;
  top: 3.68rem;
  left: 0;
  display: inline-block;
  width: 9.22rem;
  height: 0.89rem;
}
.accessibility,
.faq {
  top: 5.13rem;
  width: 2.48rem;
}
.accessibility {
  top: 6.58rem;
  width: 7.68rem;
}
.covid-advisory {
  top: 2.23rem;
  width: 8.08rem;
  height: 0.89rem;
}
.airline-fees,
.covid-advisory,
.more1,
.tips {
  position: absolute;
  left: 0;
  display: inline-block;
}
.more1 {
  top: 0;
  font-size: 0.93rem;
  line-height: 1.26rem;
  font-weight: 500;
  width: 3.58rem;
  height: 1.26rem;
}
.airline-fees,
.tips {
  top: 3.68rem;
  width: 6.32rem;
  height: 0.89rem;
}
.tips {
  top: 5.13rem;
  width: 2.36rem;
}
.more {
  position: relative;
  width: 9.22rem;
  height: 7.46rem;
}
.footer-links {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 0.75rem;
}
.footer,
.footer-section {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer {
  background: linear-gradient(91.74deg, #0b5ba8 25.38%, #299bd8);
  flex-direction: row;
  padding: 1.54rem 3.92rem;
  gap: 2.06rem;
  text-align: left;
  font-size: 0.84rem;
  color: var(--primary-contrast);
  font-family: var(--font-roboto);
}
.footer-section {
  flex-direction: column;
  color: var(--color-cornflowerblue-200);
}
.cover-frame,
.homepage {
  background-color: var(--primary-contrast);
  overflow: hidden;
}
.homepage {
  position: absolute;
  top: 3.31rem;
  left: 3.5rem;
  border-radius: 16px;
  width: 67.25rem;
  height: 53.19rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3.22rem;
  text-align: center;
  font-size: 0.84rem;
}
.homepage:hover {
  background: linear-gradient(#fff, #fff), #87550a;
}
.cover-frame {
  position: relative;
  width: 100%;
  height: 60rem;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--primary-contrast);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 1440px) {
  .top-header {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .flight-main-container {
    width: 32.5rem;
  }
  .hotel-card,
  .hotel-card2,
  .hotel-card3 {
    width: 25% !important;
  }
  .hotel-cards {
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
    margin-left: -0.75rem;
    margin-right: -3.12rem;
  }
  .footer {
    padding: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 768px) {
  .navigation-menu {
    display: none;
  }
  .hamburger-menu-icon {
    display: flex;
  }
  .top-header {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .inputs-row {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .search-flights-button {
    margin-right: auto;
  }
  .button-group {
    width: 100%;
    text-align: left;
  }
  .search-form {
    flex-direction: column;
  }
  .search-container {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .horizontal-line {
    width: 100%;
  }
  .flight-main-container {
    width: 100%;
    display: block;
    margin-bottom: 1.88rem;
  }
  .line-separator {
    display: none;
  }
  .prepare-menu {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .flight-details {
    flex-direction: column;
  }
  .upcoming-flight-section {
    display: block;
  }
  .view-all-top {
    display: none;
  }
  .card-1 {
    padding: var(--padding-base);
    box-sizing: border-box;
    width: 50%;
  }
  .cards-container {
    flex-wrap: wrap;
    margin: -1rem;
  }
  .view-all-destinations1 {
    width: auto;
  }
  .view-all-bottom {
    display: flex;
    margin-top: 1rem;
  }
  .view-all-holidays-parent {
    display: none;
  }
  .rec-card-1 {
    width: 50%;
    margin-bottom: 2rem;
  }
  .rec-card-3,
  .rec-card-4 {
    width: 50%;
  }
  .rec-cards-container {
    margin-left: -1rem;
    margin-right: -1rem;
    flex-wrap: wrap;
  }
  .view-all-holidays1 {
    width: auto;
  }
  .view-all-bottom1 {
    display: flex;
    mrgin-top: 16px;
  }
  .view-all-stays-parent {
    display: none;
  }
  .hotel-card {
    width: 100%;
  }
  .hotel-card-1 {
    width: 33.33%;
  }
  .hotel-card2 {
    width: 100%;
  }
  .hotel-card3 {
    width: 33.33% !important;
  }
  .hotel-card-4 {
    display: none;
    width: 33.33%;
  }
  .hotel-cards {
    margin-right: -3.12rem;
    margin-left: -0.75rem;
  }
  .view-all-stays1 {
    width: auto;
  }
  .view-all-stays-group {
    display: flex;
    margin-top: 1rem;
  }
  .home-contents {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .share-your-travels-form {
    padding: var(--padding-5xl) 0;
    box-sizing: border-box;
  }
  .fickleflight-bio {
    flex: unset;
    align-self: stretch;
  }
  .footer-child {
    display: none;
  }
  .footer-links {
    flex: unset;
    align-self: stretch;
  }
  .footer {
    flex-direction: column;
    padding: var(--padding-21xl) var(--padding-5xl) var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 428px) {
  .navigation-right {
    display: flex;
  }
  .lets-explore {
    font-size: 2.63rem;
    line-height: 3rem;
  }
  .input-group {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .inputs-row {
    flex-direction: column;
  }
  .search-flights-button {
    width: 100% !important;
  }
  .hotel {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
    width: 33.33%;
    text-align: center;
  }
  .trip-menus {
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1.75rem;
    margin-right: -1.75rem;
  }
  .most-popular-destinations {
    font-size: var(--font-size-3xl);
  }
  .title-container {
    flex: unset;
    align-self: stretch;
  }
  .destinations-titles {
    flex-direction: column;
    align-self: flex-start;
  }
  .card-1 {
    width: 100%;
  }
  .recommended-holidays {
    font-size: var(--font-size-3xl);
  }
  .rec-card-1,
  .rec-card-3 {
    width: 100%;
    margin-bottom: 2rem;
  }
  .rec-card-4 {
    width: 100%;
  }
  .popular-stays1 {
    font-size: var(--font-size-3xl);
  }
  .matterhorn-suites {
    font-size: var(--font-size-xl);
  }
  .hotel-card,
  .more-details-button {
    width: 100% !important;
  }
  .hotel-card {
    margin-bottom: 1.25rem;
  }
  .hotel-card-1 {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .hotel-card2,
  .hotel-card3 {
    display: flex;
    width: 100% !important;
  }
  .hotel-card-4 {
    flex: unset;
    align-self: stretch;
  }
  .hotel-cards {
    flex-direction: column;
    padding-right: 0;
    box-sizing: border-box;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }
  .button5 {
    width: 100%;
  }
  .button5:hover {
    background-color: #9e6104;
  }
  .share-your-travels-form {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    left: auto !important;
    width: 100%;
  }
  .company {
    margin-bottom: 40px !important;
  }
  .footer-links {
    flex-direction: column;
  }
  .footer {
    padding: var(--padding-11xl) var(--padding-5xl);
    box-sizing: border-box;
  }
  .homepage {
    width: 100%;
  }
  .homepage:hover {
    background-color: var(--color-orange);
  }
}
